*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: serif;
}
#fabricContainer{
    padding: 2vw;
    width: 100%;
    height: 100%;
}
#fabricContainer h1{
    font-size: 5vw;
    text-align: center;

}
.imageContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vw ;
}
.imageContainer > img{
    width: 500px;
    height: 1200px;
    object-fit: cover;
    border-radius: 2vw;
}
.fabricContent{
    margin-top: 3vw;
    width: 100%;
    height: 100%;
}
.fabricContent i{
    font-size: 1.5vw;
}
.fabricHistory{
    margin-block: 2vw;
}
.productContainer{
    margin-block: 2vw;
    width: 100%;
    height: 100%;
}
.productContainer h2{
    font-size: 4vw;
    text-align: center;
}
.products{
    display: flex;
    justify-content: space-between;
    margin-block: 2vw;
    align-items: center;
}
.productDetails{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5vw;
    margin-block: .5vw;
}
.productDetails strong{
    font-size: 1.2vw;
    line-height: 1.2vw;
}
.productDetails .buyBtn{
    border: none;
    border-radius: 1vw;
    padding: 1vw;
    color: #fff;
    background-color: green;
    cursor: pointer;
}
.product img{
    width: 75%;
    height: 35%;
    object-fit: cover;
}